<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LINQ_DB.Properties.Settings.DYGUS_SAT_BASEConnectionString"
      connectionString="Data Source=cp76.webserver.pt; Initial Catalog=onoffmobileds; User ID=onoffmobileds; Password=Lisboa22!#;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>